.customerGrid{
  width: 90%;
  justify-self: center;
  justify-items: center;
  background-color: aqua;
}
.customerInput{
  background-color: rgb(162, 222, 235);
  width: 90%;
  padding: 9px;
}
.customerInput input{
  width: 100%;
  display: block;
  height: 40px;
}
.customerInput select{
  width: 50px;
  display: block;
  height: 20px;
}
.customerInput label{
  font-size: 150%;
  display: block;
  height: auto;
}
.customerInput .discript{
  height: 90px;
}
.customer-nav-grid{
  background-color: rgb(162, 222, 235);
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  padding: 9px;
  border-bottom: solid rgb(48, 60, 95);

}
.customer-nav-grid button{
  height: 30px;
  font-size: large;
  border: none;
  cursor: pointer;
}
.saveGrid{
  display: flex;
  justify-content: end;
}