*{
  box-sizing: border-box;
}

header{
  background-color: aqua;
  justify-items: center;
  height: 50px;
}

.navbarr{
  height: 25px;
  background-color: #ae9f9f;
  color: rgb(40, 108, 89);
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navbarr a{
  text-decoration: none;
  background-color: aquamarine;
  padding-left: 10px;
  padding-right: 10px;
}

main{
  background-color: bisque;
}
.search-bar{
  display: flex;
  height: 6%;
  margin-bottom: 0;
}
.search-bar input{
  width: 35%;
}
.search-bar button{
  font-size: 70%;
}
.sec1{
  border: solid;
  border-color: rgb(23, 142, 142);
  width: 60%;
  background-color: rgb(151, 184, 120);
  float: left;
  height: 80%;
  padding: 10px;
}
.add-button-div{
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  height: 6%; 
  width: 100%; 
  margin-top: 5px;
  padding-right: 4%;
}
.add-button-div button{
  font-size: 70%;
  width: 14%;
}
.div-for-customer{
  margin-top: 5px;
  width: 98.5%;
  height: 87%;
  background-color: beige;
  overflow: auto;
}
.sec2{
  background-color: rgb(21, 243, 243);
  width: 40%;
  height: 50%;
  float: left;
  padding: 10px;
  overflow: auto;
  border: solid green;
}
.sec3{
  background-color: aqua;
  height: 30%;
  width: 40%;
  float: left;
  padding: 10px;
  border: solid green;
}
footer{
  clear: both;
  background-color: aqua;
  justify-items: center;
  height: 50px;
}

.customers-grid{
  cursor: pointer;
  display: grid;
  grid-template-columns: 31% 23% 23% 23%;
  margin-top: 5px;
  margin-left: 10px;
  height: 30px;
  background-color: aquamarine;
  font-size: clamp(0rem, 2vw, 1rem);
  padding: 5px;
}


.customer-details{
  padding-left: 5px;
  background-color: aliceblue;
  font-size: clamp(0rem, 2vw, 1rem);
}
.customer-name{
  background-color: aliceblue;
  font-size: clamp(1rem, 3vw, 2rem);
}
.customer-details-date{
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.customer-amount{
  margin-top: 2%;
  font-size: clamp(0rem, 2vw, 2rem);
}
.customer-details-payments{
  padding-left: 10px;
}
.section3-customer-details{
  overflow: auto;
  margin: 0; 
  background-color: aqua; 
  width: 100%;
  display: flexbox; 
  height: 100%;
  font-size: clamp(1rem, 3vw, 1.4rem);
  padding: 5px;
}
.section3-customer-discription{
  height: 80%;
  margin-top: 5px;
  font-size: clamp(0rem, 2vw, 1rem);
  background-color: beige;
}

